// Glyphicons font path
$icon-font-path:                "../fonts/";

// Grid settings
$main-sm-columns:               12;
$sidebar-sm-columns:            4;

// Colors
$gray-base:                     #000;
$gray-darker:                   lighten($gray-base, 13.5%); // #222
$gray-dark:                     lighten($gray-base, 20%);   // #333
$gray:                          lighten($gray-base, 33.5%); // #555
$gray-light:                    lighten($gray-base, 46.7%); // #777
$gray-lighter:                  lighten($gray-base, 93.5%); // #eee

$brand-primary:                 $gray-base;
$white:                         #FFF;

//== Scaffolding
$body-bg:                       $gray-base;
$text-color:                    $white;
$link-color:                    $gray-lighter;
$link-hover-color:              $gray-lighter;
$link-hover-decoration:         none;


//== Typography
$font-family-sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:             "Noto Serif", Georgia, "Times New Roman", Times, serif;
$font-family-base:              $font-family-serif;

$font-size-base:                16px;
$font-size-large:               ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:               ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:                  floor(($font-size-base * 6.25)); // ~100px
$font-size-h2:                  floor(($font-size-base * 3.125)); // ~50px
$font-size-h3:                  ceil(($font-size-base * 1.75)); // ~28px
$font-size-h4:                  ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:                  $font-size-base;
$font-size-h6:                  ceil(($font-size-base * 0.85)); // ~12px

$line-height-base:              1.75; // 28/16
$line-height-computed:          floor(($font-size-base * $line-height-base)); // ~20px

$headings-font-weight:          400;
$headings-line-height:          1;


//== Components
$border-radius-base:            0;
$border-radius-large:           0;
$border-radius-small:           0;


//== Buttons
$btn-font-weight:               normal;

$btn-default-color:             #333;
$btn-default-bg:                #fff;
$btn-default-border:            #ccc;

$btn-primary-color:             #fff;
$btn-primary-bg:                $brand-primary;
$btn-primary-border:            darken($btn-primary-bg, 5%);


//== Grid system
$grid-columns:                  8;
$grid-gutter-width:             30px;


//== Container sizes
$container-tablet:              (720px + $grid-gutter-width);
$container-sm:                  $container-tablet;
$container-desktop:             (750px + $grid-gutter-width);
$container-md:                  $container-desktop;
$container-large-desktop:       (750px + $grid-gutter-width);
$container-lg:                  $container-large-desktop;


//== Navbar

// Basics of a navbar
$navbar-height:                            70px;

$navbar-default-color:                     $white;
$navbar-default-bg:                        $gray-base;
$navbar-default-border:                    transparent;

// Navbar links
$navbar-default-link-color:                $white;
$navbar-default-link-hover-color:          $gray-light;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         $gray-light;
$navbar-default-link-active-bg:            transparent;
$navbar-default-link-disabled-color:       $gray;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $white;
$navbar-default-brand-hover-color:         $gray-light;
$navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:           transparent;
$navbar-default-toggle-icon-bar-bg:        $white;
$navbar-default-toggle-border-color:       transparent;