section {
  position: relative;
  display: block;
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  padding: ($navbar-height + $grid-gutter-width) 0 0;
  backface-visibility: hidden;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all 0.3s ease-in-out 0s;
  // With fullscreen background image
  &.has-bg {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    .fs-bg-img { 
      position: absolute;
      top: 50%; 
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      margin: 0;
      padding: 0;
      min-width: 100%;
      max-width: none;
      min-height: 100%; 
      width: auto; 
      height: auto;
      z-index: -1000; 
      overflow: hidden;
      img {
        @extend .fs-bg-img;
      }
    }
  }
  // Center content vertically
  .center {width: 100%; }
  
  &:first-of-type {
    .section-content {
      &.layout_2_col_image_text {
        padding: 0 0 $grid-gutter-width 0;
      }
    }
  }
}

// Section Heading
.section-header {
  h1 {
    font-size: $font-size-h2;
    margin-bottom: 0.1em;
    // 404 page
    .error-404 & {
      font-size: $font-size-h2;
      margin-bottom: 0.75em;
    }
  }
  h2 {font-size: $font-size-h3; }
  @media (min-width: $screen-sm-min) {
    h1 {font-size: $font-size-h1; }
    h2 {font-size: $font-size-h2; }
  }
  // With background image
  .has-bg & {
    h1, 
    h2 {
      text-shadow: 0.05em 0.05em 0.05em rgba(0,0,0,0.25);
    }
  }
}

// Section Content
.section-content {
  h2 {
    font-size: $font-size-h3;
    @media (min-width: $screen-sm-min) {
      font-size: $font-size-h2;
    }
    // With background image
    .has-bg & {
      text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.25);
    }
  }
  &.layout_2_col_image_text {
    padding: $grid-gutter-width 0;
    .layout_image {
      margin-bottom: $grid-gutter-width;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
      }
    }
    .layout_text {
      // With background image
      .has-bg & {
        text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.25);
      }
    }
  }
  &.layout_icon_list {
    .icon-list {
      list-style: none;
      li {
        margin-bottom: $grid-gutter-width;
        .list-icon {
          line-height: 0;
          margin-bottom: $grid-gutter-width / 2;
          float: none;
          text-align: left;
          font-size: 60px; // should be in 20px grid
          .lnr {vertical-align: top; }
        }
        .list-title {font-style: italic; }
        .list-content {}
        // Every other li
        @media (min-width: $screen-xs-min) {
          .list-icon {
            margin-bottom: 0;
            float: left;
            text-align: center;
            font-size: 100px; // should be in 20px grid
          }
          &:nth-child(odd) {
            .list-icon {float: right; }
          }
        }
      }
      // With background image
      .has-bg & {
        text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.25);
      }
    }
  }
  &.layout_photo_gallery {
    .layout_gallery {
      .item {
        figcaption {
          margin: 5px 0;
          font-size: $font-size-small;
          font-style: italic;
        }
      }
      .owl-dots {
        margin: 5px 0;
        .owl-dot {
          display: inline-block;
          zoom: 1;
          *display: inline;
          span {
            cursor: pointer;
            width: 10px;
            height: 10px;
            margin: 0 10px 0 0;
            background: $white;
            opacity: 0.6;
            display: block;
            -webkit-backface-visibility: visible;
            transition: opacity 0.2s ease;
            border-radius: 100%;
          }  
          &.active,
          &:hover {
            span {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  &.layout_color_bar {
    padding: ($grid-gutter-width / 2) 0;
  }
}
