section {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: ($navbar-height + $grid-gutter-width) 0 0;
  backface-visibility: hidden;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all 0.3s ease-in-out 0s;
  // With fullscreen background image
  &.has-bg {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .fs-bg-img { 
      position: absolute;
      top: 50%; 
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      margin: 0;
      padding: 0;
      min-width: 100%;
      max-width: none;
      min-height: 100%; 
      width: auto; 
      height: auto;
      z-index: -1000; 
      overflow: hidden;
      img {
        @extend .fs-bg-img;
      }
    }
  }
  // Center content vertically
  .center {width: 100%; }
  .section-header {
    h1 {
      font-size: $font-size-h2;
      margin-bottom: 0.1em;
    }
    h2 {font-size: $font-size-h3; }
    @media (min-width: $screen-sm-min) {
      h1 {font-size: $font-size-h1; }
      h2 {font-size: $font-size-h2; }
    }
  }
  .section-content {
    h2 {
      font-size: $font-size-h3;
      @media (min-width: $screen-sm-min) {
        font-size: $font-size-h2;
      }
    }
    &.layout_1_col_normal {}
    &.layout_2_col_image_text {
      padding: $grid-gutter-width 0;
    }
    &.layout_icon_list {
      .icon-list {
        list-style: none;
        li {
          margin-bottom: $grid-gutter-width;
          .list-icon {
            line-height: 0;
            margin-bottom: $grid-gutter-width / 2;
            float: none;
            text-align: left;
            font-size: 60px; // should be in 20px grid
            .lnr {vertical-align: top; }
          }
          .list-title {font-style: italic; }
          .list-content {}
          // Every other li
          @media (min-width: $screen-xs-min) {
            .list-icon {
              margin-bottom: 0;
              float: left;
              text-align: center;
              font-size: 100px; // should be in 20px grid
            }
            &:nth-child(odd) {
              .list-icon {float: right; }
            }
          }
        }
      }
    }
    &.layout_color_bar {
      padding: ($grid-gutter-width / 2) 0;
    }
  }
  &:first-of-type {
    .section-content {
      &.layout_2_col_image_text {
        padding: 0 0 $grid-gutter-width 0;
      }
    }
  }
}