// Typo
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.75em;
}

// Typo
p {
  margin: 0 0 1.25em;
}

// Lists
ul,
ol {
  padding: 0;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 1em;
}

// Images
picture,
figure,
img {
  @include img-responsive();
}


// Links
a {
  &:hover,
  &:focus,
  &.focus {
    outline: none;
  }
}

// Selections
::selection {
  background:$brand-primary; 
  color:$white; 
  text-shadow:none;
}