// Wrapper and base class
.navbar {
  border: none;
  margin-bottom: 0;
}

// Navbar collapse (body)
.navbar-collapse {
  padding-right: 0;
  padding-left:  0;
  border-top: none;
  box-shadow: none;
  @media (max-width: $grid-float-breakpoint) {
    background: $navbar-default-bg;
  }
}

// Brand/project name
.navbar-brand {
  transition: all 0.25s ease;
  &:hover,
  &:focus {
    outline: none;
  }
}

// Navbar toggle
.navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 ($grid-gutter-width / 2) 0 0;
  padding: $navbar-padding-vertical 0;
  border: none;
  // Bars
  .icon-bar {
    display: block;
    width: $grid-gutter-width;
    border-radius: 0;
    transition: all 0.25s ease;
  }
  .icon-bar,
  .icon-bar + .icon-bar {
    margin-top: 6px;
  }
  &:hover,
  &:focus {
    .icon-bar {
      background: $gray-light;
    }
  }
}


// Navbar nav links
.navbar-nav {
  margin: 0;
}

// Default navbar
.navbar-default {
  border: none;
  background: rgba($navbar-default-bg, 0.25);
  transition: background .25s ease;
  &.top-nav-collapse {
    background: rgba($navbar-default-bg, 0.85);
  }
  .navbar-brand {
    &:focus {
      color: $navbar-default-brand-color;
    }
  }
  .navbar-nav {
    > li > a {
      transition: all .25s ease;
      &:focus {
        color: $navbar-default-link-color;
      }
    }
  }
}

// WPML Default Language Switcher
#lang_sel {
  float: right;
  a {
    padding: (($navbar-height - $font-size-base) / 2) 0 (($navbar-height - $font-size-base) / 2) ($grid-gutter-width / 2);
    background: none;
    border: none;
    color: $white;
    font-size: $font-size-base;
    line-height: 0;
    &.lang_sel_sel {
      background: none;
      padding-right: 20px;
      color: $navbar-default-link-color;
      &:after {
        position: absolute;
        top: (($navbar-height - $font-size-base) / 2);
        right: 0;
        height: $font-size-base;
        @extend .lnr;
        content: 'î¢ˆ';
			}
			&:hover,
			&:focus,
			&.focus {
  			background: none;
  			color: $navbar-default-link-hover-color;
			}
    }
    img.iclflag {
      display: inline-block;
      height: $font-size-base;
      width: $font-size-base * (4 / 3);
    }
  }
  li {width: auto; }
  ul {
    display: inline-block;
    ul {
      border-top: none;
      top: $navbar-height;
      width: auto;
      a {
        padding: 0 ($grid-gutter-width / 2) ($grid-gutter-width / 2);
        background: rgba($navbar-default-bg, 0.25) !important;
        border: none;
        color: $white;
        line-height: 0;
        transition: background .25s ease;
        &:hover,
  			&:focus,
  			&.focus {
    			background: rgba($navbar-default-bg, 0.85);
    			color: $navbar-default-link-hover-color;
  			}
      }
    }
  }
  @media (max-width: $grid-float-breakpoint) {
    float: none;
    width: 100%;
    ul, li {width: 100%; }
    a {
      padding: $navbar-padding-vertical $navbar-padding-horizontal;
      &.lang_sel_sel {
        &:after {
          content: '';
        }
      }
    }
  }
}